###############################################################################
# terraform.tfvars.example
# Copie para "terraform.tfvars" e ajuste conforme necessário.
# (terraform.tfvars não deve ser versionado se contiver dados sensíveis.)
###############################################################################

aws_region   = "sa-east-1"
environment  = "mvp"
project_name = "mercantis"

# Rede
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24"]
az_count             = 2

# Frontend (container Docker na EC2)
instance_type           = "t3.micro"
frontend_image          = "nginxdemos/hello:plain-text"
frontend_container_port = 80

# Banco de dados (RDS MariaDB)
db_engine_version    = "10.11"
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
db_name              = "mercantis"
db_username          = "mercantis_admin"
db_multi_az          = false # true na arquitetura final (alta disponibilidade)

enable_deletion_protection = false
